.table {
    width:1000px;
    height:230px;
    margin-top: 180px;
    margin-left: 33px;

  }
  .mat-column-id {
    width: auto;
    height:auto;
    margin-top: auto;
    margin-left:auto;
    text-align: center;
  }
  .mat-column-route {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-date {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }

  .mat-column-images {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left: 480px;
    text-align: center;
  }
  .mat-column-total {
    width:200px;
    height:36px;
    margin-top: 181px;
    margin-left: 660px;
    text-align: center;
  }
  .mat-column-driver {
    width:200px;
    height:36px;
    margin-top: 181px;
    margin-left: 660px;
    text-align: center;
  }
  .mat-column-action {
    width:200px;
    height:36px;
    margin-top: 181px;
    margin-left: 660px;
    text-align: center;
  }
  .mat-header-cell{
    background-color: blue;
  }
