.table {
    width: 100%;
  }
  .mat-tab-group {
    margin-bottom: 48px;
    }
    .example-button-row button,
    .example-button-row a {
      margin-top: 15px;
      margin-right: 10px;
    }
    .table {
      width:878px;
      height:230px;
      margin-top: 180px;
      margin-left: 33px;

    }
    .mat-column-position {
      width: auto;
      height:auto;
      margin-top: auto;
      margin-left:auto;
      text-align: center;
    }
    .mat-column-name {
      width: 300px;
      height: 32px;
      margin-top: 181px;
      margin-left:348px;
      text-align: center;
    }
    .mat-column-weight {
      width: 300px;
      height: -70px;
      margin-top: 181px;
      margin-left:348px;
      text-align: center;
    }

    .mat-column-symbol {
      width: 300px;
      height: 32px;
      margin-top: 181px;
      margin-left: 480px;
      text-align: center;
    }

    .mat-header-cell{
      background-color: blue;
    }
    div.a{
        text-align: center;

    }
    /* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 750px;
}
