.table {
    width:1000px;
    height:230px;
    margin-top: 180px;
    margin-left: 33px;

  }
.mat-column-position {
    width: 200px;
    height:auto;
    margin-top: auto;
    margin-left:auto;
    text-align: center;
  }
  .mat-column-name {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-weight {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }

  .mat-column-symbol {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left: 480px;
    text-align: center;
  }
  .mat-column-plan {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left: 480px;
    text-align: center;}
  .mat-header-cell{
    background-color: blue;
  }
