.example-button-row button,
  .example-button-row a {
    margin-top: 15px;
    margin-right: 10px;

  }


  .table {
    width:1000px;
    height:230px;
    margin-top: 180px;
    margin-left: 33px;

  }
  .mat-column-customerid {
    width: auto;
    height:auto;
    margin-top: auto;
    margin-left:auto;
    text-align: center;
  }
  .mat-column-route {
    width: 150px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-dateandtime {
    width: 150px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }

  .mat-column-image {
    width: 150px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-total_Delivered_Quantity {
    width: 150px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-freight_Plan_Added_By {
    width: 150px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-action {
    width: 300px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-header-cell{
    background-color:blue;
  }
