.mat-header-cell{
  background-color: blue;
  width: 250px;
  height: auto;
  margin-top: 181px;
  margin-left: 480px;
}
.example2{
  width: 50px;
  height: auto;
}
div.a{
  text-align: center;
  text-size-adjust: 10px;
}
.example4{
  width:70px;
  height:20px;
}
.example{
width:70px;
height:20px;
margin-block-start: 20px;
margin-left: 10px;
}
.example1{
width:70px;
height:auto;
}
.example3{
  width: 70px;
  height: auto;
  margin-block-start: 20px;
  margin-left: 10px;
}
.btn-div{
  text-align:left;
  margin-left: 200px;
  margin-top: -2.3em;
}
.example5{
  width: 70px;
  height: auto;
  margin-left: -11em;
}
.a{
  margin-left: 10px;
}
.example6{
  width:70px;
  height:auto;
}
.example7{
width:70px;
height:auto;
margin-block-start: 20px;
margin-left: 10px;
}

