.table {
  width:878px;
  height:230px;
  margin-top: 180px;
  margin-left: 33px;

}
.mat-column-position {
  width: auto;
  height:auto;
  margin-top: auto;
  margin-left:auto;
  text-align: center;
}
.mat-column-name {
  width: 300px;
  height: 32px;
  margin-top: 181px;
  margin-left:348px;
  text-align: center;
}
.mat-column-weight {
  width: 300px;
  height: 32px;
  margin-top: 181px;
  margin-left:348px;
  text-align: center;
}

.mat-column-symbol {
  width: 300px;
  height: 32px;
  margin-top: 181px;
  margin-left: 480px;
  text-align: center;
}
.mat-column-plan {
  width: 300px;
  height: 32px;
  margin-top: 181px;
  margin-left: 480px;
  text-align: center;}
.mat-header-cell{
  background-color: blue;
}
