.example-button-row button,
  .example-button-row a {
    margin-top: 15px;
    margin-right: 10px;
  }
  .table {
    width:878px;
    height:230px;
    margin-top: 180px;
    margin-left: 33px;

  }
  .mat-column-route {
    width: auto;
    height:auto;
    margin-top: auto;
    margin-left:auto;
    text-align: center;
  }
  .mat-column-trackdate {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }
  .mat-column-id {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left:348px;
    text-align: center;
  }

  .mat-column-ref {
    width: 200px;
    height: 32px;
    margin-top: 181px;
    margin-left: 480px;
    text-align: center;
  }
  .mat-column-delivery {
    width:200px;
    height:36px;
    margin-top: 181px;
    margin-left: 660px;
    text-align: center;
  }
  .mat-header-cell{
    background-color: blue;
  }
 